.li{
    margin-left: 15px;
    margin-top: 10px;
    float: left; 
    display: inline;  
}
.button{
    background-color: blue;
    border: none;
}
.button:hover{
    background-color: red;
}
.title{
    font-weight: bold;
    font-size: large;
}
.price{
    font-weight: bold;
}

.product {
    object-fit: contain;
}
.buttonf{
    background-color: red;
}
.buttong{
    background-color: green;
}
.buttonContainer{
    display:flex;
}
.updateContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display:flex;
    flex-direction: column;
    padding:10px;
}